<div class="divider"></div>
<nav class="nav-extended">
    <div class="nav-wrapper cyan lighten-2">
        <a href="/" class="brand-logo">Home Page</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">Login/Logout</i></a>
        <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">Login</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            <li><a href="/blogForm"><button class="btn waves-effect waves-light right" type="submit" name="action"> create
                        Discussion</button></a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            
            {{#if logged_in}}
                <li><a class="logout">Logout</a></li>
            {{else}}
                <li><a class="login" href="/login">Login</a></li>
            {{/if}}
        </ul>
    </div>
    <div class="nav-content cyan lighten-2">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a class="active" href=""></a></li>
        </ul>
    </div>
</nav>